body {
    background-color: lightblue;}
  
  h1 {
    color: orange;
    text-align: center;}
  p {font-size: 20px;}
  a {font-size: 20px;}
  img {float: right;width:350px;height: 265px; }
  
  /*Készítette: Tőzsér Dániel 9.C*/